body{
  margin: 0;
  background-color: gray;
}

.App {
  text-align: center;
}

.weather-info {
  margin-top: 5%;
  margin-right: 40%;
  margin-left: 40%;
  background-color: aqua;
  color: royalblue;
  border: seagreen solid 5px;
  border-radius: 35%;
  align-self: center;
  
}
.search-box{
  margin: 5px;
  display: flex;
  justify-content: center;
}
.int{
  padding: 10px;
  width: 80%;
  margin: 15px 15px;
}
.article {
  display: flex;
  border: teal solid 5px;
  border-radius: 1%;
}

.news-info {
  margin-left: 20%;
  height: 200px;
  width: 900px;
  padding: 1px;
}
img {
  border: tomato solid 2px;
}
p {
  color: rgb(253, 247, 236);
  font-style: oblique;
}

